// *** placeholder styles ***

.search-iput {
    border: none;
    background: #fff;
    border-radius: 5px;
    padding: 8px 20px 6px 6px;
    width: 204px;
    margin-right: 7px;

}

.search-iput::-webkit-input-placeholder {        /* Chrom Safari*/
    font-family: 'Arial MT', sans-serif;
    color: $colorPlaceholder;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    // @media screen and (max-width: 596px) {
    //     font-size: 0.8rem;
    // }
}

.search-iput::-moz-placeholder {                 /* Firefox 19+ */
    font-family: 'Arial MT', sans-serif;
    color: $colorPlaceholder;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    // @media screen and (max-width: 596px) {
    //     font-size: 0.8rem;
    // }
}


.search-iput:-moz-placeholder {                  /* Firefox 18- */
    font-family: 'Arial MT', sans-serif;
    color: $colorPlaceholder;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    // @media screen and (max-width: 596px) {
    //     font-size: 0.8rem;
    // }
}


.search-iput:-ms-input-placeholder {              /* IE */
    font-family: 'Arial MT', sans-serif;
    color: $colorPlaceholder;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    // @media screen and (max-width: 596px) {
    //     font-size: 0.8rem;
    // }
}


// сдвиг placeholder-а вправо при фокусе

.search-iput::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.5s ease;
}
.search-iput::-moz-placeholder {
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.search-iput:-moz-placeholder {
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.search-iput:-ms-input-placeholder {
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.search-iput:focus::-webkit-input-placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.search-iput:focus::-moz-placeholder  {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.search-iput:focus:-moz-placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.search-iput:focus:-ms-input-placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
