.header-content {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***
*
* LOGO
*
***/

    .logo {
        display: flex;
    }

        .logo-img {
            width: 107px;
            margin-right: 15px;
            background: url(../img/logo/logo.png)center center no-repeat;
            background-size: cover;

                @media screen and (max-width: 1012px) {
                    display: none;
                }
        }

        .logo-name {
            color: $colorDefolt;
            font-family: $fontGeor;
            font-size: 3.75rem;
            font-weight: 400;
            letter-spacing: -0.187rem;
            text-transform: uppercase;
                & > span {
                    color: $colorAccent;
                }
                @media screen and (max-width: 1012px) {
                    font-size: 3rem;
                }
                @media screen and (max-width: 410px) {
                    font-size: 2rem;
                }
                
        }

        .logo-subname {
            font-family: $fontGeor;
            color: $colorGray;
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: -0.056rem;

                @media screen and (max-width: 410px) {
                    font-size: 0.8rem;
                }
        }

/***
*
* RSS
*
***/

.feed p {
    color: $colorGray;
    font-family: $fontGeor;
    font-size: 0.813rem;
    font-weight: 400;
    margin-right: 12px;
    margin-bottom: 14px;
        &:last-child {
            margin-bottom: 0;
        }
}

    .rss {
        display: flex;
        align-items: center;
        @media screen and (max-width: 720px) {
            display: none;
        }
    }

        .rss-ico {
            background: url(../img/ico/rss-icon.png) center center no-repeat;
            background-size: cover;
            width: 64px;
            height: 65px;
        }




    